<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 lh-lg text-secondary">
    <%= simple_form_for(@contract) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :kind, required: true %>
      <%= f.association :property, label_method: :property_reference, prompt: true , required: true %>
      <p class="d-flex justify-content-end"><%= link_to "Crear propiedad", new_property_path, target: :_blank %></p>
      <%= f.association :tenant, class_name: "Contact", collection: Contact.where(kind: 'Inquilino'), label_method: :full_name, prompt: true , required: true %>
      <p class="d-flex justify-content-end"><%= link_to "Crear inquilino", new_contact_path, target: :_blank %></p>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :base_price %>
      <%= f.input :base_price_currency %>
      <%= f.input :comision %>
      <%= f.association :guarantor, class_name: "Contact", collection: Contact.where(kind: 'Garante'), label_method: :full_name, prompt: true , required: true %>
      <p class="d-flex justify-content-end"><%= link_to "Crear garante", new_contact_path, target: :_blank %></p>
      <%= f.input :guarantor_identity_kind %>
      <%= f.input :guarantor_identity_number %>
      <%= f.input :guarantor_documents, as: :file, input_html: { multiple: true } %>
      <%= f.input :guarantee_address %>
      <%= f.input :guarantee_documents, as: :file, input_html: { multiple: true } %>
      <%= f.input :security_deposit_amount %>
      <%= f.input :security_deposit_amount_currency %>
      <%= f.input :security_deposit_receipts, as: :file, input_html: { multiple: true } %>
      <%= f.input :security_deposit_return_receipts, as: :file, input_html: { multiple: true } %>
      <%= f.input :contract_documents, as: :file, input_html: { multiple: true } %>
      <%= f.input :notes %>
      <%= f.button :submit, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
