<h1>Contrato</h1>
<p>Tipo de contrato: <%= @contract.kind %></p>
<p>Propiedad ref.: <%= @contract.property.property_reference %></p>
<p>Inquilino: <%= @contract.contact.first_name %> <%= @contract.contact.last_name %></p>
<p>Desde: <%= @contract.start_date %> hasta: <%= @contract.end_date %></p>
<p>Precio base: <%= @contract.base_price %></p>
<p>Moneda: <%= @contract.base_price_currency %></p>
<h4>Precios variables</h4>
<p><%= link_to "Crear precio variable", new_contract_contract_price_path(@contract), target: :_blank %></p>
<% @contract_prices.each do |contract_price| %>
  <p>Desde: <%= contract_price.start_date %> hasta: <%= contract_price.end_date %></p>
  <p>Precio: <%= contract_price.price %></p>
  <p>Moneda: <%= contract_price.price_currency %></p>
  <p><%= link_to "Editar precio variable", edit_contract_contract_price_path(@contract, contract_price), target: :_blank %></p>
  <p><%= link_to "Eliminar precio variable", contract_contract_price_path(@contract, contract_price), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}%></p>
<% end %>
<p>Comision: <%= @contract.comision %></p>
<p>Tipo documento garante: <%= @contract.guarantor_identity_kind %></p>
<p>Número de documento garante: <%= @contract.guarantor_identity_number %></p>
<p>Dirección de garantía: <%= @contract.guarantee_address %></p>
<p>Monto depósito / fianza: <%= @contract.security_deposit_amount %></p>
<p>Moneda depósito / fianza: <%= @contract.security_deposit_amount_currency %></p>
<p>Notas: <%= @contract.notes %></p>
<p><%= link_to "Editar contrato", edit_contract_path(@contract) %></p>
<p><%= link_to "Eliminar contrato", contract_path(@contract), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}%></p>
