<div class="container">
  <div class="my-3">
    <h1 class="d-flex justify-content-between">Incidencias <%= params[:query] %><%= link_to "Crear incidencia", new_incident_path, class:"btn btn-secondary my-auto" %></h1>
    <nav class="nav nav-pills flex-column flex-sm-row">
      <%= link_to "Pendientes", incidents_path(query: "Pendiente"), class: "flex-sm-fill text-sm-center nav-link #{'active' if params[:query] == 'Pendiente'}" %>
      <%= link_to "En curso", incidents_path(query: "En curso"), class: "flex-sm-fill text-sm-center nav-link #{'active' if params[:query] == 'En curso'}" %>
      <%= link_to "Rechazadas", incidents_path(query: "Rechazada"), class: "flex-sm-fill text-sm-center nav-link #{'active' if params[:query] == 'Rechazada'}" %>
      <%= link_to "Finalizadas", incidents_path(query: "Finalizada"), class: "flex-sm-fill text-sm-center nav-link #{'active' if params[:query] == 'Finalizada'}" %>
    </nav>
  </div>
  <div class="my-3">
    <h1 class="d-flex justify-content-between">Incidencias <%= params[:query] %><%= link_to "Crear incidencia", new_incident_path, class:"btn btn-secondary my-auto" %></h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% if @incident_updates %>
        <% @incident_updates.each do |incident_update| %>
          <div class="col">
            <div class="card shadow p-3 mb-5">
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between">
                  Número: <%= incident_update.incident.id %>
                  <%= link_to "Ver incidencia", incident_path(incident_update.incident), class:"btn btn-primary" %>
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Ultimo estado: <%= incident_update.status %></li>
                <li class="list-group-item">Creada: <%= incident_update.incident.created_at.strftime("%A, %e %B %Y") %></li>
                <li class="list-group-item">Propiedad ref.: <%= incident_update.incident.property.reference %></li>
                <li class="list-group-item">Contacto que solicitó la incidencia: <%= incident_update.incident.contact.full_name %></li>
                <li class="list-group-item">Creada por: <%= incident_update.incident.user.first_name %></li>
                <li class="list-group-item">Tipo de incidente: <%= incident_update.incident.kind %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <% @incidents.each do |incident| %>
          <div class="col">
            <div class="card shadow p-3 mb-5">
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-between">
                  Número: <%= incident.id %>
                  <%= link_to "Ver incidencia", incident_path(incident), class:"btn btn-primary" %>
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Ultimo estado: <%= incident.status %></li>
                <li class="list-group-item">Creada: <%= incident.created_at.strftime("%A, %e %B %Y") %></li>
                <li class="list-group-item">Propiedad ref.: <%= incident.property.reference %></li>
                <li class="list-group-item">Contacto que solicitó la incidencia: <%= incident.contact.full_name %></li>
                <li class="list-group-item">Creada por: <%= incident.user.first_name %></li>
                <li class="list-group-item">Tipo de incidente: <%= incident.kind %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <%= link_to "Volver", :back, class: "btn btn-dark" %>
</div>
