<div class="container">
  <div class="my-3">
    <h1 class="d-flex justify-content-between">Todos las incidencias <%= link_to "Crear incidencia", new_incident_path, class:"btn btn-secondary my-auto" %></h1>
    <h4>Pendientes</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @incidents.each do |incident| %>
        <% if incident.status == 'Pendiente' %>
          <%= render "incident", incident: incident %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <h4>En curso</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @incidents.each do |incident| %>
        <% if incident.status == 'En curso' %>
          <%= render "incident", incident: incident %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <h4>Rechazadas</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @incidents.each do |incident| %>
        <% if incident.status == 'Rechazada' %>
          <%= render "incident", incident: incident %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <h4>Finalizadas</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @incidents.each do |incident| %>
        <% if incident.status == 'Finalizada' %>
          <%= render "incident", incident: incident %>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <%= link_to "Volver", :back, class: "btn btn-dark" %>
</div>




<% if false %>
<div class="container">
  <div class="my-3">
    <h1 class="d-flex justify-content-between">Todos las incidencias <%= link_to "Crear incidencia", new_incident_path, class:"btn btn-secondary my-auto" %></h1>
    <div class="row align-items-start">
      <div class="col">
        <h4>Pendientes</h4>
          <% @incidents.each do |incident| %>
          <% if IncidentUpdate.where(incident_id: incident.id).last %>
          <% else %>
            <p>Número: <%= incident.id %></p>
            <p>Creada: <%= incident.created_at.strftime("%A, %e %B %Y") %></p>
            <p>Propiedad ref.: <%= incident.property.reference %></p>
            <p>Contacto que solicitó la incidencia: <%= incident.contact.full_name %></p>
            <p>Creada por: <%= incident.user.first_name %></p>
            <p>Tipo de incidente: <%= incident.kind %></p>
            <p><%= link_to "Ver incidencia", incident_path(incident) %></p>
          <% end %>
        <% end %>
        <% @incidents.each do |incident| %>
          <% if IncidentUpdate.where(incident_id: incident.id).last %>
            <% if IncidentUpdate.where(incident_id: incident.id).last.status == 'Pendiente'%>
              <p>Número: <%= incident.id %></p>
              <p>Creada: <%= incident.created_at.strftime("%A, %e %B %Y") %></p>
              <p>Propiedad ref.: <%= incident.property.reference %></p>
              <p>Contacto que solicitó la incidencia: <%= incident.contact.full_name %></p>
              <p>Creada por: <%= incident.user.first_name %></p>
              <p>Tipo de incidente: <%= incident.kind %></p>
              <p><%= link_to "Ver incidencia", incident_path(incident) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <h4>En curso</h4>
        <% @incidents.each do |incident| %>
          <% if IncidentUpdate.where(incident_id: incident.id).last %>
            <% if IncidentUpdate.where(incident_id: incident.id).last.status == 'En curso'%>
              <p>Número: <%= incident.id %></p>
              <p>Creada: <%= incident.created_at %></p>
              <p>Propiedad ref.: <%= incident.property.reference %></p>
              <p>Contacto que solicitó la incidencia: <%= incident.contact.full_name %></p>
              <p>Creada por: <%= incident.user.first_name %></p>
              <p>Tipo de incidente: <%= incident.kind %></p>
              <p><%= link_to "Ver incidencia", incident_path(incident) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <h4>Rechazada</h4>
        <% @incidents.each do |incident| %>
          <% if IncidentUpdate.where(incident_id: incident.id).last %>
            <% if IncidentUpdate.where(incident_id: incident.id).last.status == 'Rechazada'%>
            <p>Número: <%= incident.id %></p>
            <p>Creada: <%= incident.created_at.strftime("%A, %e %B %Y") %></p>
            <p>Propiedad ref.: <%= incident.property.reference %></p>
            <p>Contacto que solicitó la incidencia: <%= incident.contact.full_name %></p>
            <p>Creada por: <%= incident.user.first_name %></p>
            <p>Tipo de incidente: <%= incident.kind %></p>
            <p><%= link_to "Ver incidencia", incident_path(incident) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <h4>Finalizada</h4>
        <% @incidents.each do |incident| %>
          <% if IncidentUpdate.where(incident_id: incident.id).last %>
            <% if IncidentUpdate.where(incident_id: incident.id).last.status == 'Finalizada'%>
            <p>Número: <%= incident.id %></p>
            <p>Creada: <%= incident.created_at.strftime("%A, %e %B %Y") %></p>
            <p>Propiedad ref.: <%= incident.property.reference %></p>
            <p>Contacto que solicitó la incidencia: <%= incident.contact.full_name %></p>
            <p>Creada por: <%= incident.user.first_name %></p>
            <p>Tipo de incidente: <%= incident.kind %></p>
            <p><%= link_to "Ver incidencia", incident_path(incident) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <%= link_to "Volver", :back, class: "btn btn-dark" %>
</div>
<% end %>
