<h1>Incidencia</h1>
<p>Número: <%= @incident.id %></p>
<p>Propiedad ref.: <%= @incident.property.property_reference %></p>
<p>Contacto: <%= @incident.contact.full_name %></p>
<p>A cargo de: <%= @incident.user.first_name %></p>
<p>Tipo de incidencia: <%= @incident.kind %></p>
<p>Descripción: <%= @incident.description %></p>
<p><%= link_to "Editar incidencia", edit_incident_path(@incident) %></p>
<p><%= link_to "Eliminar incidencia", incident_path(@incident), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}%></p>
