<h1>Incidencia</h1>
<p><%= link_to "Ver todas las incidencias", incidents_path %></p>
<p>Número: <%= @incident.id %></p>
<p>Propiedad ref.: <%= @incident.property.property_reference %></p>
<p>Creada: <%= @incident.created_at %></p>
<% if @incident_last %>
  <p>Estado de ultima actualización: <%= @incident_last.incident_status %></p>
<% else %>
  <p>Sin actualizaciones</p>
<% end %>
<p><%= link_to "Actualizar incidencia", new_incident_incident_update_path(@incident), target: :_blank %></p>
<p>Contacto que solicitó la incidencia: <%= @incident.contact.full_name %></p>
<p>Creada por: <%= @incident.user.first_name %></p>
<p>Tipo de incidencia: <%= @incident.kind %></p>
<p>Descripción: <%= @incident.description %></p>
<p>
  <% @incident.documents.each do |document| %>
    <%= cl_image_tag document.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</p>
<h4>Actualizaciones</h4>
<% @incident_updates.each do |incident_update| %>
  <p>Fecha: <%= incident_update.created_at %></p>
  <p>Estado: <%= incident_update.incident_status %></p>
  <p>Actualizada por: <%= incident_update.user.first_name %></p>
  <p>Notas: <%= incident_update.notes %></p>
  <% incident_update.documents.each do |document| %>
    <%= cl_image_tag document.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= link_to "Editar actualización de incidencia", edit_incident_incident_update_path(@incident, incident_update), target: :_blank %></p>
  <p><%= link_to "Eliminar actualización de incidencia", incident_incident_update_path(@incident, incident_update), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}%></p>
<% end %>
<hr>
<p><%= link_to "Editar incidencia", edit_incident_path(@incident) %></p>
<p><%= link_to "Eliminar incidencia", incident_path(@incident), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}%></p>
  <hr>
  <%= link_to "Volver", :back, class: "btn btn-dark" %>
