<h1>Todos las propiedades</h1>
<p><%= link_to "Crear propiedad", new_property_path %></p>
<% @properties.each do |property| %>
  <% property.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p>Propiedad ref.: <%= property.property_reference %></p>
  <p>
    Propietario: <%= property.owner.full_name %>
    <%= link_to "Ver contacto", contact_path(property.owner), target: :_blank %>
  </p>
  <p>Tipo: <%= property.kind %></p>
  <p>Dirección: <%= property.address %></p>
  <p>Superficie total: <%= property.total_area %></p>
  <p>Superficie cubierta: <%= property.covered_area %></p>
  <p>Habitaciones: <%= property.rooms %></p>
  <p>Baños: <%= property.bathrooms %></p>
  <p>Características: <%= property.amenities %></p>
  <p>Precio: <%= property.price %></p>
  <p>Moneda: <%= property.price_currency %></p>
  <p><%= link_to "Ver propiedad", property_path(property) %></p>
<% end %>
