<h1>Propiedad</h1>
<p><%= link_to "Ver todos las propiedades", properties_path %></p>
<% @property.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%= cl_image_tag("sample.jpg", :flags=>"attachment:pretty_flower") %>


  <%# <%= simple_form_for :photo, url: download_path, method: :get, data: { turbolinks: true } do |f| %>
    <%# <%= f.input :public_id, label: "Enter the public ID of the file you want to download:" %>
    <%# <%= f.button :submit, "Download File" %>
  <%# <% end %>



  <%# <%= cl_image_tag photo.preview(resize_to_limit: [100, 100]) %>
<% end %>





<%# <% @property.photos.each do |photo| %>
  <%# <%= if photo.previewable? %>
      <%# <%= cl_image_tag photo.preview(resize_to_limit: [100, 100]) %>
  <%# <% end %>
<%# <% end %>



<p>Propiedad ref.: <%= @property.property_reference %></p>
<p>
  Propietario: <%= @property.owner.full_name %>
  <%= link_to "Ver contacto", contact_path(@property.owner), target: :_blank %>
</p>
<p>Ref. catastral: <%= @property.cadastral_reference %></p>
<p>Tipo: <%= @property.kind %></p>
<p>Dirección: <%= @property.address %></p>
<p>Piso / depto / lote: <%= @property.apartment %></p>
<p>Ciudad: <%= @property.city %></p>
<p>Provincia: <%= @property.state %></p>
<p>País: <%= @property.country %></p>
<p>Código postal: <%= @property.postal_code %></p>
<p>Superficie total: <%= @property.total_area %></p>
<p>Superficie cubierta: <%= @property.covered_area %></p>
<p>Habitaciones: <%= @property.rooms %></p>
<p>Baños: <%= @property.bathrooms %></p>
<p>Características: <%= @property.amenities %></p>
<p>Precio: <%= @property.price %></p>
<p>Moneda: <%= @property.price_currency %></p>
<p>Notas: <%= @property.notes %></p>
<h4>Contratos</h4>
<p><%= link_to "Crear contrato", new_contract_path %></p>
<% @contracts.each do |contract| %>
  <p>Tipo de contrato: <%= contract.kind %></p>
  <p>Inquilino: <%= contract.tenant.full_name %></p>
  <p>Desde: <%= contract.start_date %> hasta: <%= contract.end_date %></p>
  <p><%= link_to "Ver contrato", contract_path(contract), target: :_blank %></p>
<% end %>
<p><%= link_to "Editar propiedad", edit_property_path(@property) %></p>
<p><%= link_to "Eliminar propiedad", property_path(@property), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delet?"}%></p>
