<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 lh-lg text-muted">
    <%= simple_form_for(@bill) do |f| %>
      <%= f.association :property, label_method: :property_reference, prompt: true, required: true %>
      <%= f.input :bill_date, required: true %>
      <%= f.input :kind, required: true, collection: ['Cobro', 'Pago'], prompt: true %>
      <%= f.association :contact, label_method: :full_name, prompt: true , required: true %>
      <p class="d-flex justify-content-end"><%= link_to "Crear contacto", new_contact_path, target: :_blank %></p>
      <%= f.input :concept, required: true %>
      <%= f.input :amount, required: true %>
      <%= f.input :amount_currency %>
      <%= f.input :payment_method, required: true %>
      <%= f.input :documents, as: :file, input_html: { multiple: true } %>
      <%= f.input :notes %>
      <%= f.button :submit, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
