<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8 lh-lg text-secondary">
    <%= simple_form_for(@contact) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name %>
      <%= f.input :phone %>
      <%= f.input :email %>
      <%= f.input :kind, required: true, collection: ['Garante', 'Inquilino', 'Propietario', 'Proveedor'], prompt: true %>
      <%= f.input :notes %>
      <%= f.button :submit, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
